<%- include('../layouts/admin/header.ejs') -%>

<div class="container mt-5">
<div class="row mt-5">
    <div class="col-12 grid-margin">
      <div class="card" style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);">
        <div class="card-body">
          <h4 class="card-title">Users</h4>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>
                    <!-- <div class="form-check form-check-muted m-0">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                      </label>
                    </div> -->
                  </th>
                  <th> Name </th>
                  <th> Email </th>
                  <th> Mobile No</th>
                  <!-- <th> Project </th> -->
                  <th> Action </th>
                  <!-- <th> Start Date </th>
                  <th> Payment Status </th> -->
                </tr>
              </thead>
              <tbody>
                <%
                if(users.length>0){ %>

                <% for(let i=0; i<users.length; i++){ 
                  %>

                  <tr>
                    <td><%= i+1 %>
                      <!-- <div class="form-check form-check-muted m-0">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input">
                        </label>
                      </div> -->
                    </td>
                    <!-- <td>
                      <img src="assets/images/faces/face1.jpg" alt="image" />
                      <span class="pl-2">Henry Klein</span>
                    </td> -->
                    <td><%= users[i].name %></td>
                    <td><%= users[i].email %></td>
                    <td><%= users[i].mobile %></td>
                    <td> 
                      <a href="/admin/blockUser/<%= users[i]._id %>" class="btn <%= users[i].isBlock ? 'btn-outline-danger' : 'btn-outline-success' %>">
                        <% if(users[i].isBlock){
                          %>
                          Unblock
                        <% } else {
                          %>
                          Block
                        <%
                        }
                        %>
                        
                      </a>
                    </td>
                    <!-- <td> 04 Dec 2019 </td> -->
                    <!-- <td>
                      <div class="badge badge-outline-success">Approved</div>
                    </td> -->
                  </tr>

                  <%
                } %>
                <% } else{
                  %>
                    <tr>
                      <td>Users not found</td>
                    </tr>
                  <%
                }
                %>

                <!-- <tr>
                  <td>
                    <div class="form-check form-check-muted m-0">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                      </label>
                    </div>
                  </td>
                  <td>
                    <img src="assets/images/faces/face2.jpg" alt="image" />
                    <span class="pl-2">Estella Bryan</span>
                  </td>
                  <td> 02312 </td>
                  <td> $14,500 </td>
                  <td> Website </td>
                  <td> Cash on delivered </td>
                  <td> 04 Dec 2019 </td>
                  <td>
                    <div class="badge badge-outline-warning">Pending</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check form-check-muted m-0">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                      </label>
                    </div>
                  </td>
                  <td>
                    <img src="assets/images/faces/face5.jpg" alt="image" />
                    <span class="pl-2">Lucy Abbott</span>
                  </td>
                  <td> 02312 </td>
                  <td> $14,500 </td>
                  <td> App design </td>
                  <td> Credit card </td>
                  <td> 04 Dec 2019 </td>
                  <td>
                    <div class="badge badge-outline-danger">Rejected</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check form-check-muted m-0">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                      </label>
                    </div>
                  </td>
                  <td>
                    <img src="assets/images/faces/face3.jpg" alt="image" />
                    <span class="pl-2">Peter Gill</span>
                  </td>
                  <td> 02312 </td>
                  <td> $14,500 </td>
                  <td> Development </td>
                  <td> Online Payment </td>
                  <td> 04 Dec 2019 </td>
                  <td>
                    <div class="badge badge-outline-success">Approved</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check form-check-muted m-0">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                      </label>
                    </div>
                  </td>
                  <td>
                    <img src="assets/images/faces/face4.jpg" alt="image" />
                    <span class="pl-2">Sallie Reyes</span>
                  </td>
                  <td> 02312 </td>
                  <td> $14,500 </td>
                  <td> Website </td>
                  <td> Credit card </td>
                  <td> 04 Dec 2019 </td>
                  <td>
                    <div class="badge badge-outline-success">Approved</div>
                  </td>
                </tr> -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../layouts/admin/footer.ejs') -%>