<%- include('../layouts/user/header.ejs') -%>

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Check Out</h4>
                        <div class="breadcrumb__links">
                            <a href="/">Home</a>
                            <a href="/shop">Shop</a>
                            <span>Check Out</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Checkout Section Begin -->
    <section class="checkout spad">

        <div class="container" id="reloadorderArea">
            <% if(message) { %>
                <h5>
                    <%= message %>
                </h5>
                <% } %>
                    <div class="checkout__form mt-4">
                        <form id="orderFormsubmit" method="post">
                            <div class="row ">
                                <div class="col-lg-6 col-md-6 pr-5">
                                    <% if(address) { %>
                                        <h6 class="mb-3"><b>Select an address</b></h6>

                                        <% for(let i=0;i<address.Address.length;i++) { %>

                                            <div style="display: -webkit-box;" class="mb-3">
                                                <input class="mr-2" type="radio" id="cod" name="address"
                                                    value="<%= i %>" required>
                                                <ul style="list-style-type: none;">
                                                    <li><b>
                                                            <%= address.Address[i].Name %>
                                                        </b></li>
                                                    <li class="mt-2">
                                                        <%= address.Address[i].HouseName %>
                                                    </li>
                                                    <li class="mt-1">
                                                        <%= address.Address[i].City %>
                                                    </li>
                                                    <li class="mt-1">
                                                        <%= address.Address[i].Locality %>
                                                    </li>
                                                    <li class="mt-1">
                                                        <%= address.Address[i].State %>
                                                    </li>
                                                    <li class="mt-1">
                                                        <%= address.Address[i].Pincode %>
                                                    </li>
                                                    <li class="mt-1">
                                                        <%= address.Address[i].Mobile %>
                                                    </li>
                                                </ul>
                                            </div>
                                            <% } %>
                                                <% } %>
                                                    <div class="mt-4">
                                                        <a class="btn" style="color: rgb(201, 20, 89);"
                                                            href="/OrderAddress"><b>+ ADD NEW
                                                                ADDRESS</b></a>
                                                    </div>

                                </div>

                                <div class="col-lg-6 col-md-6">
                                    <div class="checkout__order">
                                        <h4 class="order__title">Your order</h4>
                                        <div class="checkout__order__products">Product <span>Total</span>
                                        </div>
                                        <ul class="checkout__total__products">
                                            <% for(let i=0;i<cart.Products.length;i++) { %>
                                                <li>
                                                    <%= cart.Products[i].ProductId.product_name %><b>
                                                            <span>
                                                                <% if(cart.Products[i].ProductId.Offer){ %>
                                                                    <% if(new Date(cart.Products[i].ProductId.Offer.startDate)<=Date.now()
                                                                        && new Date(cart.Products[i].ProductId.Offer.endDate)>=Date.now() &&
                                                                        cart.Products[i].ProductId.Offer.isBlock==false)
                                                                        { %>
                                                                        <p class="text-success m-0">Rs <%= Math.ceil((cart.Products[i].ProductId.Price)-(cart.Products[i].ProductId.Price*cart.Products[i].ProductId.Offer.Value/100)) %>
                                                                        </p>
                                                                        <p class="m-0"> <del>Rs <%= cart.Products[i].ProductId.Price %>
                                                                                    </del></p>
                                                                        <p class="text-danger m-0"
                                                                            style="font-size: small;"><b>
                                                                                <%= cart.Products[i].ProductId.Offer.Value %>% OFF
                                                                            </b></p>
                                                                        <% }else { %>
                                                                            <p class="text-success m-0">Rs <%= cart.Products[i].ProductId.Price %>
                                                                            </p>
                                                                            <% } %>
                                                                                <% } else { %>
                                                                                    <p class="text-success m-0">Rs <%= cart.Products[i].ProductId.Price %>
                                                                                    </p>
                                                                                    <% }%>
                                                            </span></b>
                                                </li>

                                                <% } %>
                                        </ul>
                                        <ul class="checkout__total__all">
                                            <li>Subtotal <span class="text-dark">Rs <%= subtotal %></span></li>
                                            <% if(total!=subtotal){ %>
                                                <li>Discount on MRP<span class="text-success">-Rs <%= subtotal-total %>
                                                            </span></li>
                                                <% } %>
                                                    <% if(cart.isCoupon){ %>
                                                        <li>Coupon Discount <span class="text-success">-Rs <%= cart.isCoupon.discountAmount %>
                                                            </span></li>
                                                        <% } %>
                                                            <li>Total <span style="font-size: large;"><b>Rs <%= discountedAmount %></b></span></li>
                                        </ul>
                                        <h5 class="order__title">PAYMENT</h5>
                                        <input type="radio" id="cod" name="payment" value="Cash On Delivery" required>
                                        <label for="option1" class="m-2">Cash On Delivery</label><br>

                                        <input type="radio" id="gpay" name="payment" value="Online Payment" required>
                                        <label for="option2" class="m-2">Online Payment</label><br>

                                        <input type="radio" id="creditcard" name="payment" value="Wallet" required>
                                        <label for="option3" class="m-2">Wallet</label><br>
                                        <button type="submit" class="site-btn my-4"
                                            style="background-color: rgb(201, 20, 89)">PLACE
                                            ORDER</button>

                                    </div>
                                </div>
                            </div>
                    </div>
        </div>
        </form>
        </div>
        </div>
    </section>

    <%- include('../layouts/user/footer.ejs') -%>
        <script>

            document.getElementById('orderFormsubmit').addEventListener('submit', (e) => {
                e.preventDefault();

                let selectedPayment = document.querySelector('input[name="payment"]:checked').value;
                if (selectedPayment == "Wallet" || selectedPayment == "Cash On Delivery") {

                    swal({
                        title: "Are you sure?",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#3085d6",
                        cancelButtonColor: "#d33",
                        confirmButtonText: "Yes",
                    }).then(function (result) {
                        if (result.value) {

                            let formdata = new FormData(document.getElementById('orderFormsubmit'));
                            let data = {}
                            formdata.forEach(function (value, key) {
                                data[key] = value;
                            });
                            if (!data.address) {
                                swal("Please add address!")
                                return;
                            }
                            console.log(data)
                            $.ajax({
                                method: 'POST',
                                url: '/submitcheckout',
                                data: JSON.stringify(data),
                                contentType: 'application/json',
                                success: function (response) {
                                    if (response.walletbal == false) {
                                        swal("Insufficient fund in wallet!");
                                    } else if (response.cod) {
                                        window.location.href = '/orderSuccess';

                                    } else if (response.order) {
                                        generateRazorpay(response.order);
                                    } else {
                                        swal("Something went wrong!");
                                    }
                                },
                                error: function (err) {
                                    console.log(err);
                                }
                            })

                        }
                    })
                } else {
                    let formdata = new FormData(document.getElementById('orderFormsubmit'));
                    let data = {}
                    formdata.forEach(function (value, key) {
                        data[key] = value;
                    });
                    if (!data.address) {
                        swal("Please add address!")
                        return;
                    }
                    $.ajax({
                        method: 'POST',
                        url: '/submitcheckout',
                        data: JSON.stringify(data),
                        contentType: 'application/json',
                        success: function (response) {
                            if (response.walletbal == false) {
                                swal("Insufficient fund in wallet!");
                            } else if (response.cod) {
                                window.location.href = '/orderSuccess';

                            } else if (response.order) {
                                generateRazorpay(response.order);
                            } else {
                                swal("Something went wrong!");
                            }
                        },
                        error: function (err) {
                            console.log(err);
                        }
                    })
                }
            })

            function generateRazorpay(order) {
                console.log("heyyy");
                console.log(order);
                console.log("OrderAmount" + order.amount);
                var options = {
                    "key": "rzp_test_xBf0oBR72QXqNT", // Enter the Key ID generated from the Dashboard
                    "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                    "currency": "INR",
                    "name": "Acme Corp",
                    "description": "Test Transaction",

                    "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                    "handler": function (response) {
                        console.log('helloooo' + order)
                        verifyorder(response, order);

                    },
                    "prefill": {
                        "name": "Nisana M",
                        "email": "nisana686@gmail.com.com",
                        "contact": "9895000000"
                    },
                    "theme": {
                        "color": "#3399cc"
                    }
                };
                var rzp1 = new Razorpay(options);
                rzp1.open();

            }
            function verifyorder(payment, order) {
                console.log(order);

                $.ajax({
                    method: 'POST',
                    url: '/verifyOrder',
                    data: {
                        payment,
                        order
                    },
                    success: function (response) {
                        if (response.placed) {
                            window.location.href = '/orderSuccess';
                        }
                    },
                    error: function (err) {
                        console.log(err);
                    }
                })
            }

        </script>