<%- include('../layouts/user/header.ejs') -%>

    <section>
        <div class="container mt-4" id="reloadArea" style="min-height: 50rem;">
            <div class="row">
                <% if(wishlist) { %>
                    <% if(wishlist.Products.length>0) { %>
                        <% for(let i=0;i<wishlist.Products.length;i++) { %>
                            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                                <div class="card" style="width: 13rem;">
                                   <a href="/productDetail/<%= wishlist.Products[i].ProductId._id %>"> <img src="/userImages/<%= wishlist.Products[i].ProductId.Image.image3 %>"
                                        style="height: 19rem;" class="card-img-top" alt="image"></a>
                                    <a onclick="removefromWishlist('<%= wishlist.Products[i].ProductId._id %>')"><img
                                            src="/user/img/close.png"
                                            style="position: absolute; width: 1rem; top:10px ;right:15px"></a>
                                    <div class="card-body text-center">
                                        <p class="m-0">
                                            <%= wishlist.Products[i].ProductId.product_name %>
                                        </p>
                                        <!-- <p class="text-success"><b>Rs <%= wishlist.Products[i].ProductId.Price %></b>
                                        </p> -->
                                        <% if(wishlist.Products[i].ProductId.Offer){ %> 
                                            <% if(new Date(wishlist.Products[i].ProductId.Offer.startDate)<=Date.now() && new Date(wishlist.Products[i].ProductId.Offer.endDate)>=Date.now() && wishlist.Products[i].ProductId.Offer.isBlock==false) { %> 
                                        <p class="m-0"><b><del>Rs <%= wishlist.Products[i].ProductId.Price %></del><span class="ml-2 text-success">Rs <%= Math.ceil((wishlist.Products[i].ProductId.Price)-(wishlist.Products[i].ProductId.Price*wishlist.Products[i].ProductId.Offer.Value/100)) %></span></b></p> 
                                        <% }else { %>
                                            <p class="m-0 text-success"><b>Rs <%= wishlist.Products[i].ProductId.Price %></b></p>
                                             <% } %> 
                                        <% } else { %> 
                                            <p class="m-0 text-success"><b>Rs <%= wishlist.Products[i].ProductId.Price %></b></p>
                                            <% }%>
                                        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                                        <% if(wishlist.Products[i].ProductId.Stock>0) { %>
                                            <a onclick="movetoCart('<%= wishlist.Products[i].ProductId._id %>')"
                                                class="btn m-0" style="background-color: rgb(217, 217, 217);">MOVE TO
                                                CART</a>
                                            <% }else { %>
                                                <a class="btn text-danger">Out Of Stock</a>
                                                <% } %>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                                <% } else { %>
                                    <div class="col-6 mt-5">
                                        <h4 style="color: rgb(201, 20, 89);">Your wishlist is empty!!</h4>
                                    </div>
                                    <% } %>
                                        <% }else { %>
                                            <div class="col-6 mt-5">
                                                <h4 style="color: rgb(201, 20, 89);">Your wishlist is empty!!</h4>
                                            </div>
                                            <% } %>

            </div>
    </section>

    <%- include('../layouts/user/footer.ejs') -%>